<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appsinventiv.toolsbazzaradmin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainPage.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMain.NoActionBar" />

        <service android:name=".Utils.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Products.AddProduct"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Products.ProductUploaded" />
        <activity android:name=".Activities.Chat.Chats" />
        <activity android:name=".Activities.Chat.LiveChat" />
        <activity android:name=".Activities.Chat.SellerChat" />
        <activity android:name=".Activities.Chat.WholesaleChat" />
        <activity
            android:name=".Activities.Orders.Orders"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Orders.ViewOrder"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Products.ListOfProducts" />
        <activity android:name=".Activities.SalesReport" />
        <activity android:name=".Activities.AppSettings.Languages" />
        <activity android:name=".Activities.Products.EditProduct" />
        <activity android:name=".Activities.Vendors.Vendors" />
        <activity android:name=".Activities.Vendors.AddVendors"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".Activities.AppSettings.Settings" />
        <activity
            android:name=".Activities.AppSettings.AboutUs"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.AppSettings.Terms" />
        <activity android:name=".Activities.AppSettings.AdminTerms" />
        <activity
            android:name=".Activities.Invoicing.ViewInvoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Purchases.Purchases" />
        <activity
            android:name=".Activities.Purchases.ViewPurchaseOrder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login.Login"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Activities.Login.EmployeeVerficiation"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".Activities.Login.Register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Login.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Employees.ListOfEmployees" />
        <activity android:name=".Activities.Employees.ViewEmployee" />
        <activity android:name=".Activities.AppSettings.BannersPackage.BannerSettings" />
        <activity android:name=".Activities.AppSettings.BannersPackage.HomeBannerSettings" />
        <activity android:name=".Activities.Employees.PendingApproval" />
        <activity android:name=".Utils.NoInternet" />
        <activity android:name=".Activities.Purchases.EditPurchase" />
        <activity android:name=".Activities.AppSettings.BannersPackage.ClientBanners" />
        <activity android:name=".Activities.AppSettings.BannersPackage.SellerBanners" />
        <activity android:name=".Activities.Products.Reviews.ProductReviews" />
        <activity android:name=".Activities.Products.Reviews.ProductComments" />
        <activity android:name=".Activities.Invoicing.ListOfInvoices" />
        <activity android:name=".Activities.AppSettings.AddLocationAndCharges" />
        <activity android:name=".Activities.AppSettings.ListOfLocationAndCharges" />
        <activity
            android:name=".Activities.Employees.ProfileSettings"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.Accounts.Accounts" />
        <activity
            android:name=".Activities.AppSettings.CompanySettings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Orders.OrdersDelivery" />
        <activity android:name=".Activities.Orders.OrdersCourier" />
        <activity android:name=".Activities.Orders.ViewUnderProcessOrder" />
        <activity android:name=".Activities.Orders.ViewDeliveryShippedOrder" />
        <activity
            android:name=".Activities.AppSettings.ShippingCarriers.AddShippingCarriers"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.AppSettings.ShippingCarriers.ListOfShippingCarriers" />
        <activity
            android:name=".Activities.Accounts.ExpensesAndRevenue.Salaries"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.Transportation" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.Rent" />
        <activity
            android:name=".Activities.AppSettings.FortCityFeatures"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.AppSettings.BannersPackage.Banners" />
        <activity android:name=".Activities.AppSettings.TermsSettings" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.UtilityBills" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.Stationaries" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.Miscellaneous" />
        <activity
            android:name=".Activities.Accounts.ExpensesAndRevenue.ViewSalary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Accounts.ExpensesAndRevenue.ViewExpensesReport"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Accounts.ExpensesAndRevenue.ExpensesDetail" />
        <activity
            android:name=".Activities.Products.AddSubCategories"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Products.ChooseCategory" />
        <activity
            android:name=".Activities.Customers.ViewCustomer"
            android:theme="@style/AppThemeRed.NoActionBar" />
        <activity android:name=".Activities.AppSettings.BannersPackage.DealsBanner" />
        <activity android:name=".Activities.Products.AddProductWeight" />
        <activity android:name=".Activities.Accounts.TransferToAccountsDone" />
        <activity android:name=".Activities.Products.AddMainCategories" />
        <activity android:name=".Activities.Products.ChooseMainCategory" />
        <activity android:name=".Activities.Employees.CheckedActivity" />
        <activity android:name=".Activities.Accounts.SODetails.NewSOScreen" />
        <activity
            android:name=".Activities.Locations.AddProvinces"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Locations.AddDistricts"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Locations.AddCityAndDeliveryCharges"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Activities.Locations.ListOfCountries" />
        <activity android:name=".Activities.Locations.AddCountry" />
        <activity android:name=".Activities.Customers.Customers" />
        <activity
            android:name=".Activities.Customers.ViewSeller"
            android:theme="@style/AppThemeRed.NoActionBar" />
        <activity android:name=".Activities.SellerOrders.SellerOrders" />
        <activity
            android:name=".Activities.Welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.AppSettings.Commissions" />
        <activity
            android:name=".Activities.Accounts.NewAccounts.NewAccountsScreen"
           />
        <activity android:name=".Activities.AppSettings.CODLimit" />
        <activity android:name=".Activities.Orders.NewOrder.NewOrderScreen" />
        <activity
            android:name=".Activities.AppSettings.ViewTerms"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.AppSettings.ViewAboutUs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>